 html{
    cursor: url(fichiers_a_telecharger/cursor.png),auto;
 }


 body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: url(fichiers_a_telecharger/cursor.png),auto;
}

.tete{
      display: flex;
      
      margin-left: 10px;
             justify-content: center;
  align-items: center;
}

.tete p {
      display: flex;
      margin-left: 250px;
}
.disp {
  display: flex; /* Utiliser Flexbox pour le positionnement */
  justify-content: space-around; /* Aligner les éléments horizontalement avec un espace autour */
  flex-wrap: wrap; /* Permettre aux éléments de s'enrouler s'ils dépassent */
  text-align: center; /* Centrer le texte */
}

.card {
  flex: 0 0 calc(40% - 20px); /* Définir la largeur de chaque carte à 50% moins les marges */
  margin: 10px; /* Marge entre chaque carte */
}

.card h4 {
  margin-top: 10px; /* Espacement entre le titre et l'image */
}

.github_adrien
{
    display: flex;
    position: relative;
     top: 380px;    
  left: 230px;
}
.github_josselin
{
    display: flex;
    position: absolute;
     top: 760px;    /* position verticale par rapport au haut */
  left: 230px;
}
.github_hector
{
    display: flex;
    position: absolute;
     top: 1020px;    /* position verticale par rapport au haut */
  left: 225px;
}
.github_guilhem
{
    display: flex;
    position: absolute;
     top: 1340px;    /* position verticale par rapport au haut */
  left: 225px;
}
.github_guillaume
{
    display: flex;
    position: absolute;
     top: 1660px;    /* position verticale par rapport au haut */
  left: 225px;
}


.tete img {
      display: flex;
      
      margin-left: 25px;

}

.container{
    display: flex;
    justify-content:center;
    align-items: center;

    padding: 20px;
}
.logo-container img {
    max-height: 50px; /* Ajustez la hauteur du logo selon vos besoins */

}

.contributor-box {
    background-color: #C1BFBF; /* Couleur de fond pour chaque boîte, ajustez selon vos préférences */
    border: 1px solid #ddd; /* Bordure pour chaque boîte */
    padding: 15px;
    margin-bottom: 20px; /* Espacement entre chaque boîte */
    border-radius: 5px;
}

.pad{
    margin-left: 10px ;
}
#textalign{
    text-align: center;

}
#textalignmembre{
    text-align: center;
}


nav ul {
    list-style-type: none;
    display: flex;
    /* Ajoute un espace entre les liens et le bouton */
}

nav {
    display: flex;
    align-items: center;
}


nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
}

#content {
    max-width: 10000px;
    margin: 0 auto;
    padding: 20px;

    margin-bottom: 80px; /* Ajout d'une marge inférieure pour éviter le chevauchement avec le footer */
}

   .image-container {
            max-width: 100000px; /* Ajustez la largeur maximale selon vos besoins */
            margin: 0 auto; /* Centre le contenu horizontalement */
            padding: 20px; /* Ajoute une marge intérieure pour l'espace autour du contenu */
            overflow: hidden; /* Clearfix pour éviter que les floats ne sortent du conteneur */
        }

        .image-container img {
            max-width: 100%; /* Ajustez la largeur des images selon vos besoins */
            float: left; /* Flottez l'image à gauche */
            margin-right: 2%; /* Ajoutez une marge à droite pour l'espace entre les images */
        }

.highlight:hover {
  text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 7px;
}


        /* Style du bouton */
        .download-button {
            display: inline-block;
            padding: 15px 30px;
            font-size: 1.2em;
            background-color: #FFA07A; /* Vert */
            color: #ffffff;

            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        /* Changement de couleur au survol */
        .download-button:hover {
            background-color: #FF6347; /* Vert plus foncé */
        }